.audioPlayer {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    z-index: 1000;
}

.controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.button {
    padding: 8px 12px;
    margin: 5px;
    background-color: #4d90fe;
    color: white;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #3079ed;
    box-shadow: 0 2px 4px rgba(0, 123, 255, 0.6);
}

.progress, .volume {
    width: 100px; /* Уменьшенная ширина слайдера */
    height: 3px;
    cursor: pointer;
}

.progress {
    background-color: #ddd;
}

.volume {
    background-color: #666;
}
